configuration {
    modi: "drun";
}

* {
    background: #212121;
    background-alt: #404040;
    foreground: #FFFFFF;
    selected: #606060;
    active: #808080;
    urgent: #FF0000;
}

window {
    background-color: @background;
}

mainbox {
    background-color: @background;
}

inputbar {
    background-color: @background-alt;
    text-color: @foreground;
}

element {
    background-color: @background;
    text-color: @foreground;
}

element selected {
    background-color: @selected;
    text-color: @foreground;
}

element-text {
    background-color: transparent;
    text-color: inherit;
}

element-icon {
    background-color: transparent;
}
